[submodule "Webentwicklung"]
	path = Webentwicklung
	url = git@github.com:RandomCad/Webentwicklung.git
[submodule "SystemProgrammierung"]
	path = SystemProgrammierung
	url = git@github.com:RandomCad/SystemProgrammierung.git
[submodule "GitPresentation"]
	path = GitPresentation
	url = git@github.com:RandomCad/GitPresentation.git
[submodule "Krypto"]
	path = Krypto
	url = git@github.com:RandomCad/Krypto.git
[submodule "DHGE-Intel"]
	path = DHGE-Intel
	url = git@github.com:RandomCad/DHGE-Intel.git
[submodule "VPN"]
	path = VPN
	url = git@github.com:RandomCad/VPN.git
[submodule "ATMega"]
	path = ATMega
	url = git@github.com:RandomCad/ATMega.git
[submodule "Embeded1"]
	path = Embeded1
	url = git@github.com:RandomCad/Embeded1.git
[submodule "SystemEntwicklung"]
	path = SystemEntwicklung
	url = git@github.com:RandomCad/SystemEntwicklung.git
[submodule "CUebung"]
	path = CUebung
	url = git@github.com:RandomCad/CUebung.git
[submodule "CppUebung"]
	path = CppUebung
	url = git@github.com:RandomCad/CppUebung.git
[submodule "English"]
	path = English
	url = git@github.com:RandomCad/English.git
[submodule "SystemProgramierung"]
	path = SystemProgramierung
	url = git@github.com:RandomCad/SystemProgramierung.git
