[submodule "Webentwicklung"]
	path = Webentwicklung
	url = git@github.com:RandomCad/Webentwicklung.git
[submodule "SystemProgrammierung"]
	path = SystemProgrammierung
	url = git@github.com:RandomCad/SystemProgrammierung.git
[submodule "GitPresentation"]
	path = GitPresentation
	url = git@github.com:RandomCad/GitPresentation.git
[submodule "Krypto"]
	path = Krypto
	url = git@github.com:RandomCad/Krypto.git
[submodule "DHGE-Intel"]
	path = DHGE-Intel
	url = git@github.com:RandomCad/DHGE-Intel.git
[submodule "VPN"]
	path = VPN
	url = git@github.com:RandomCad/VPN.git
